<div class="condition" *ngIf="condition" fxLayout="column">

  <div fxLayout="row" fxLayoutAlign="space-between start">
    <label fxFlex="20"><b>Property</b>&nbsp;&nbsp;</label>
    <mat-radio-group fxFlex="80" [(ngModel)]="condition.propertyValue" [ngModelOptions]="{standalone: true}">
      <mat-radio-button [value]="true" [align]='start' checked>True</mat-radio-button>
      <mat-radio-button [value]="false" [align]='start'>False</mat-radio-button>
    </mat-radio-group>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <label fxFlex="20">Left</label>
    <mat-form-field fxFlex="80" class="input_selector" *ngIf="condition.operator != 'CONTAINS'; else leftInput">
      <mat-select placeholder="Select the related control">
        <mat-option *ngFor='let key of keys' [value]="key.key" (click)='selectLeft(key.key)'>
          {{key.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-template #leftInput>
      <mat-form-field fxFlex="80">
        <input [(ngModel)]="condition.left" #left matInput placeholder="use comma for multiple values" value=""/>
        <button mat-button matSuffix mat-icon-button type="text" (click)="addValue(left.value)" matTooltip="click store values">
           <i class="material-icons">add_circle</i>
        </button>
      </mat-form-field>
    </ng-template>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <label fxFlex="20">Operator</label>
    <mat-form-field fxFlex="80" class="input_selector">
      <mat-select >
        <mat-option *ngFor='let operator of operators' [value]="operator" (click)='selectOperator(operator)'>{{operator}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <label fxFlex="20">Right</label>
    <mat-form-field fxFlex="80" class="input_selector" *ngIf="condition.operator == 'CONTAINS'; else rightInput">
      <mat-select >
        <mat-option *ngFor='let key of keys' [value]="key.key" (click)='selectRight(key.key)'>
          {{key.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-template #rightInput>
        <mat-form-field fxFlex="80">
          <input [(ngModel)]="condition.right" #right matInput placeholder="use comma for multiple values" value=""/>
          <button mat-button matSuffix mat-icon-button type="text" (click)="addValue(right.value)" matTooltip="click to store values">
             <i class="material-icons">add_circle</i>
          </button>
        </mat-form-field>
      </ng-template>
  </div>

</div>