<!--<div *ngIf="controlType">
<p>Edit label: 
  <input [(ngModel)]="controlType.label" placeholder=" "/>
</p>
</div>-->
<div *ngIf="controlType" class="control" (click)=toggle()>
	<div>
		<label>Label:
      <input [(ngModel)]="controlType.label" placeholder="Edit me"/>
    </label>
		<p><b>controlType: </b>{{controlType.controlType}}</p>
	</div>
	<div [hidden]="isVisible" (click)=toggle()>
    <p><b>key: </b>{{controlType.key}}</p>
    <div *ngIf="controlType.options">
    <p><b>Options: </b></p>
		<li *ngFor="let item of controlType.options">
			{{item.value}}
			<!-- <app-tab [tab]="tab"></app-tab> -->
		</li>
    </div>
	</div>
	<!--<div [on]="on" (click)="onClick()"><h1>CAN YOU SEE ME NOW?</h1></div>-->
</div>