.control{
    background-color: rgba(187, 204, 238, 0.514);
    position: relative;
    padding-left: 10%;
    padding-top: 8px;
    padding-bottom: 5px;
    margin: 5px;
}

ul {
  list-style-type: none;
}