<mat-card fxFlex="80%" *ngIf="section">
    
   <h3>{{section.label}}<span><button matTooltip="Delete this section" class="right" mat-fab (click)="deleteSection(section.key)" color="warn"><i class="material-icons">delete</i></button></span></h3> 
  <!-- <mat-card-header>
    <mat-card-title>{{section.label}}</mat-card-title>
  </mat-card-header> -->
  <mat-form-field class="example-form-field">
      <input matInput type="text" placeholder="Edit Section label" [(ngModel)]="section.label">
    </mat-form-field>
  <mat-card-content>
    <li *ngFor="let item of section.questions; index as i">
      <app-question [controlType]="item" (itemDeleted)="onItemDeleted($event)"></app-question>
    </li>
  </mat-card-content>
  <mat-form-field class="emphaise">
    <label>Add a control type</label>
      <mat-select  [(ngModel)]='optionSelected' >
        <mat-option *ngFor='let option of options' [value]="option" (click)='AddInput(option)'>
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</mat-card>

