.section {
    background-color: #f2f4f7;
    
    border: 2px solid#d6d8db;
    border-radius: 4px;
    padding: 15px;
}

.emphaise{
    width: 50%;
    background-color: rgba(250, 251, 253, 0.911);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}



