<mat-card fxFlexOffset="5" fxFlex="90%" class="section" *ngIf="section">

  <h5>
    <mat-slide-toggle matTooltip="Show/hide section" (click)="this.animationState = this.animationState === 'out' ? 'in' : 'out'"></mat-slide-toggle>
    {{section.label}}
    <span class="right">
      <button matTooltip="Delete this section" mat-mini-fab (click)="deleteSection(section.key)" color="warn">
        <i class="material-icons">delete</i>
      </button>
    </span>
  </h5>

  <mat-card-content fxLayout="column" fxLayoutAlign="center" *ngIf="show; else closed" [@slideInOut]="animationState">

    <div fxLayout="row" fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxFlex="50" class="example-form-field">
        <input matInput type="text" placeholder="Edit Section label" [(ngModel)]="section.label">
      </mat-form-field>
    </div>

    <div>
      <mat-checkbox [(ngModel)]="hasVisible" [align]="end" (change)="visibleProperty($event)">Section visible by
        default</mat-checkbox>
      <ng-container *ngIf="!hasVisible">
        <div *ngFor="let item of section.conditionalProperties.visible" fxLayout="column" fxLayoutAlign="start">
          <app-condition [condition]="item"></app-condition>
          <button type="button" name="add" class="btn btn-danger align-self-end" (click)="removeCondition(i)">
            <i class="fas fa-trash"></i>
          </button>
        </div>
        <hr>
        <button type="button" name="add" class="btn btn-info align-self-end" (click)="addCondition()">
          Add a condition
          <i class="fas fa-plus"></i>
        </button>
      </ng-container>
    </div>

    <div dragula="QUESTIONS" [(dragulaModel)]="section.questions">
      <div *ngFor="let item of section.questions; index as i" >
        <ng-container *ngIf='item.controlType !== "section"; else section'>
          <app-question [controlType]="item" (itemDeleted)="onItemDeleted($event)"></app-question>
        </ng-container>
        <ng-template #section>
          <app-section [section]="item" (tabSelected)="onTabSelected($event)" (sectionDeleted)="onSectionDeleted($event)"></app-section>
        </ng-template>
      </div>
    </div>


    <mat-form-field class="input_selector">
      <mat-select [(ngModel)]='optionSelected' placeholder="Add a question">
        <mat-option *ngFor='let option of options' [value]="option" (click)='AddInput(option)'>
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
  </mat-card-content>
</mat-card>