<div *ngIf="description" class="control">
  <mat-form-field class="example-form-field">
    <input matInput type="number" placeholder="Order" [(ngModel)]="description.order">
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <input matInput type="text" placeholder="Edit description label" [(ngModel)]="description.label">
  </mat-form-field>
  <mat-radio-group class="example-radio-group" placeholder="Visible" [(ngModel)]="description.visible">
    <mat-radio-button value=true>True</mat-radio-button>
    <mat-radio-button value=false>False</mat-radio-button>
  </mat-radio-group>
  <label><b>Keys</b></label>
  <div *ngFor="let item of description.keys">
    <mat-form-field class="example-form-field">
      <input matInput type="text" placeholder="key" [(ngModel)]="item.key">
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <input matInput type="text" placeholder="value" [(ngModel)]="item.value">
    </mat-form-field>
  </div>
</div>