<h1 mat-dialog-title>Edit Question</h1>
<mat-dialog-content *ngIf="controlType" class="control">
  <div *ngIf="controlType.label">
    <label>Label:
      <input [(ngModel)]="controlType.label" placeholder="Edit me" />
    </label>
  </div>
  <div *ngIf="controlType.value">
    <label>Value:
      <input [(ngModel)]="controlType.value" placeholder="Edit me" />
    </label>
  </div>
  <div>
    <b>Controltype: </b>{{controlType.controlType}} </div>
  <div>
    <b>Key: </b>{{controlType.key}}
  </div>
  <hr>
  <div fxLayout="row" fxLayoutAlign="start center">
    <label>
      <b>Default properties:&nbsp;&nbsp;</b>
    </label>
    <mat-checkbox [align]="end" [(ngModel)]="controlType.visible">Visible</mat-checkbox> &nbsp;&nbsp;&nbsp;&nbsp;
    <mat-checkbox [align]="end" [(ngModel)]="controlType.required">Required</mat-checkbox>
  </div>
  <hr>
  <ng-container *ngIf="(controlType.controlType == 'textbox')">
    <label>
      <b>Add a validation:&nbsp;&nbsp;</b>
    </label>
    <mat-radio-group fxLayout="row" fxLayoutAlign="space-around start" (change)="setValidator($event)">
      <mat-radio-button class="example-radio-button" *ngFor="let valid of validators" [value]="valid">
        {{valid}}
      </mat-radio-button>
    </mat-radio-group>
  </ng-container>
  <hr>
  <div *ngIf="controlType.options">
    <p>
      <b>Options: </b>
    </p>
    <div *ngFor="let item of controlType.options; index as i;">
      <label>
        Value:
        <input [(ngModel)]="item.value" placeholder="Edit me" />
      </label>
      <button type="button" name="add" class="btn btn-danger align-self-end" (click)="removeOption(i)">
        <i class="fas fa-trash"></i>
      </button>
    </div>
    <button type="button" name="add" class="btn btn-info align-self-end" (click)="addOption()">
      <i class="fas fa-plus"></i>
    </button>

  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Conditional Properties
        </mat-panel-title>
        <mat-panel-description>
          View/Edit values
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="column" fxLayoutAlign="space-around start">
        <mat-checkbox [(ngModel)]="hasVisible" (change)="toggleVisible()"> Visible </mat-checkbox>
        <div *ngFor="let item of controlType.conditionalProperties.visible">
            <app-condition [condition]="item" ></app-condition>
        </div>

        <mat-checkbox [(ngModel)]="hasRequired" (change)="toggleRequired()"> Required </mat-checkbox>
        <div *ngFor="let item of controlType.conditionalProperties.required">
            <app-condition [condition]="item" ></app-condition>
        </div>

        <mat-checkbox [(ngModel)]="hasLabel" (change)="toggleLabel()"> Label </mat-checkbox>
        <div *ngFor="let item of controlType.conditionalProperties.label">
            <app-condition [condition]="item" ></app-condition>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion *ngIf="(controlType.questionBase)">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          QuestionBase
        </mat-panel-title>
        <mat-panel-description>
          View/Edit properties
        </mat-panel-description>
      </mat-expansion-panel-header>
      <label>regSysKey</label>
      <input class="full-width" [(ngModel)]="controlType.questionBase.regSysKey" placeholder="Is regEdit correct?" />
      <div *ngFor="let question of controlType.questionBase.questions[0].questions">
        <app-question [controlType]="question" (itemDeleted)="onDeleteFromQuestionBase($event)"></app-question>
      </div>
      <mat-form-field>
        <mat-select [(ngModel)]='optionSelected' placeholder="Add a question">
          <mat-option *ngFor='let option of options' [value]="option" (click)='addControlToQuestionBase(option)'>
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion *ngIf="(controlType.descriptors)">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Descriptors
        </mat-panel-title>
        <mat-panel-description>
          View/Edit properties
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let desc of controlType.descriptors; index as index">
        <app-descriptor (itemDeleted)="onDescriptorDeleted($event)" [description]="desc" (itemDeleted)="onItemDeleted($event)" [index]="index"></app-descriptor>
      </div>
      <button class="mat-raised-button mat-primary" (click)="addDescriptor()">Add a descriptor</button>
    </mat-expansion-panel>
  </mat-accordion>
  <hr>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="close()">Close</button>
  <button class="mat-raised-button mat-warn" (click)="deleteItem(controlType.key)">Delete</button>
</mat-dialog-actions>