/* .control > div{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: baseline;
        align-content: stretch;
    
  } */
  .boxed{
    border: 1px solid rgba(179, 170, 170, 0.435)
  }

  .example-container > * {
    width: 100%;
  }

  .full-width{
    width: 80%
  }

