/* .control > div{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: baseline;
        align-content: stretch;
    
  } */
  .boxed{
    border: 1px solid rgba(179, 170, 170, 0.789);
    margin-bottom: 5px;
    padding: 15px;
  }

  .example-container > * {
    width: 100%;
  }

  .full-width{
    width: 80%
  }

