<div>
  <div>
    <ngx-json-viewer [json]="myForm" [expanded]="true"></ngx-json-viewer>
  </div>
  {{myForm | json}}
  <h1>
    {{myForm.displayName}}
  </h1>
  <h2>
    Version: {{myForm.version}}
  </h2>
  <p>Tabs: {{numTabs}}</p>

</div>

<div class='submission'>
  <div>
    <label>Edit submission display name:
    <input [(ngModel)]="myForm.displayName" placeholder="name">
  </label>
    <button (click)="AddTab()">Add Tab</button>
    <ul *ngFor="let tab of myForm.steps">
      <app-tab [tab]="tab"></app-tab>
    </ul>
  </div>
</div>