<div>

  <!-- <button type="button" class="btn-lg btn-primary viewBtn" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="ViewPrettyJSON()">View JSON</button> -->
  <button type="button" class="btn-lg btn-primary viewBtn" aria-label="Copy" (click)="copyToClipboard()">
    Copy to clipboard
  </button>
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{myForm.displayName}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <pre id="json">{{prettyJSON}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>

<div>

  <div fxLayout="row" fxLayoutAlign="space-evenly">
    <button *ngIf="!paste" mat-raised-button color="primary" (click)="openDialog()">
      Create a new Form
      <i class="material-icons">
        add_circle_outline
      </i>
    </button>

    <!-- <button fxFlex="20" mat-raised-button color="primary" (click)="openDialog()" matTooltip="Edit Submission Details and add regEdits">
      Submission Details
    </button> -->
    <div>
      <button *ngIf="!paste" mat-raised-button color="primary" (click)="openEditor()" matTooltip="Paste in pre-existing json">
        Json Editor
        <i class="material-icons">
          code
        </i>
      </button>
      <span *ngIf="paste">
          <button mat-raised-button (click)="pasteJSON(box.value); paste = !paste" color="primary" matTooltip="Confirm changes">Update</button>
          <button mat-raised-button (click)="paste = !paste" color="warn" matTooltip="Close editor without changes">Close</button>
          <textarea class='centered' #box>{{prettyJSON}}</textarea>
      </span>
    </div>
  </div>

  <h1>{{myForm.displayName}}</h1>

  <mat-tab-group class="demo-tab-group" [(selectedIndex)]="selectedTab">
    <mat-tab [label]="tab.label" *ngFor="let tab of myForm.steps; let index = index; let last = last;">
      <ng-template mat-tab-label>
        {{tab.label}}
        <button *ngIf="last" (click)="AddTab($event)" mat-icon-button matTooltip="Add a tab">
          <mat-icon>add_circle</mat-icon>
        </button>
      </ng-template>
      <app-tab [tab]="tab"></app-tab>
    </mat-tab>
  </mat-tab-group>



</div>